:root {
    --primary-color: #08080a;
    --secondary-color: #1153FC;
    --accent-color: #3a3985;
    --card-bg: #1a1a1a;
}


/* fix for ugly atocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
    border-radius: inherit !important;
}

.gradient {
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--accent-color));
}

body {
    background-color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    padding: 1rem;
}


h3 {
    color: var(--primary-color);
    margin: 5px 0px;
}


a {
    text-decoration: none;
}

#center-button {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #1db954, #1ed760); 
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 250px; 
    box-shadow: 10px 10px 30px #0a0a0a, -10px -10px 30px #1f1f1f;
    transition: all 0.3s ease;
}

#login-button img {
    width: 35px; 
    height: 35px;
    margin-right: 12px; 
}

#login-button:hover {
    background: linear-gradient(45deg, #1ed760, #1db954);
    transform: scale(1.05);
}

#login-button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(50, 205, 50, 0.8);
}

#login-button:active {
    transform: scale(0.98);
}

#homepage-load {
    display: block;
}

#container {
    padding: 16px;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.nav-container a {
    color: var(--secondary-color);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 1px 1px 2px var(--secondary-color);
}

#logo-text {
    font-size: 1.5rem;
}

.logo-wrapper img {
    height: 30px;
}

.search {
    display: flex;
}

.search form {
    width: 300px;
    height: 43px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 0 10px;
}

.search input {
    all: unset;
    flex: 1;
    font-size: 16px;
    color: black;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

.search_btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.search_btn img {
    width: 20px;
    height: 20px;
}

#sort-options {
    margin: 1rem 0;
}

#sort-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 1.1rem;
}


/* you havent rated any songs yet */
.no-ratingmsg {
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 1px var(--accent-color);

}

#music-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 400px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    box-shadow: 10px 10px 30px #0a0a0a, -10px -10px 30px #1f1f1f;
    max-block-size: 400px;
    border-radius: 20px;
    padding: 10px;
}

.card:hover , .card:focus {
    box-shadow: 5px 5px 15px #0a0a0a, -5px -5px 15px #1f1f1f;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.album_cover {
    width: 70%;
    height: 50%;
    border-radius: 20px;
}

#artist-names {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

.spotify-link {
    text-decoration: none;
    border-radius: 30px;
    padding: 8px;
    color: black;
    background: linear-gradient(45deg, #1db954, #1ed760); 
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: all 0.3s ease;
}

.spotify-link:hover {
    background-color: #32cd32;
    transform: translateY(-2px);
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
}

.spotify-link:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(50, 205, 50, 0.8);
}

.star-rating {
    font-size: 2.5rem;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
}

.star {
    color: gray;
    transition: color 0.2s ease, transform 0.3s ease;
    max-width: 100%;
}

.star:hover,
.star.selected {
    color: gold;
    transform: scale(1.2);
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.star:focus {
    outline: none;
    box-shadow: 0 0 10px gold; 
}


#avg-rating {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-top: 5px;
}

/* average number flash on click */
@keyframes flash {
    0% {
        color: yellow;
    }

    100% {
        color: transparent;
    }
}

.flash {
    animation: flash 0.5s ease;
}

/* fade in when page loads or reloads */
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}


@media (max-width: 480px) {
    h3 {
        font-size: 1rem;
    }

    .nav-container a {
        font-size: 0.9rem;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .card {
        max-width: 90vw;
    }

    .album_cover {
        max-width: 60%;
        max-height: 50%;
    }
    
    .rating-text {
        font-size: 12px;
     }
}

@media (max-width: 767px) {
    .nav-container {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      position: static;
    }
  
    .logo-wrapper {
      justify-content: center;
    }
  
    .search {
      order: 2;
      width: 100%;
      max-width: 300px;
    }
  
    #sort-options {
      order: 3;
      width: 100%;
      max-width: 300px;
      text-align: center;
      margin-top: 0;
    }
  }

  @media (min-width: 768px) {
    .nav-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  
    .logo-wrapper {
      order: 1;
    }
  
    #sort-options {
      order: 2;
    }
  
    .search {
      order: 3;
    }

    .no-ratingmsg {
        padding-left: 0px;
    }
  }
  

  