:root {
    --primary-color: #08080a;
    --secondary-color: #1153FC;
    --accent-color: #3a3985;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
  border-radius: inherit !important;
}

.shadow {
    box-shadow: 5px 5px 10px black;
}

.gradient {
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--accent-color));
}

body {
    background-color: var(--primary-color);
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#container {
    padding: 16px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.nav-container a {
    color: var(--secondary-color);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo-wrapper {
    border-radius: 20px;
}

#logo {
    width: 1vw;
    height: 2vh;
    margin-bottom: -2px;
}

form {
    width: 300px;
    height: 43px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}

input {
    all: unset;
    font-size: 16px;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 15px;
}

#search_btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search_btn img {
    width: 20px;
    height: 20px;
}


.album_cover {
    width: 10vw;
    height: 20vh;
    border-radius: 20px;
}

#music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    padding: 20px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-block-size: 400px;
    border-radius: 20px;
    padding: 10px;
}

.yt-link {
    text-shadow: red 2px 2px 8px;
    color: var(--primary-color);
}

.star-rating {
    font-size: 2rem;
    cursor: pointer;
}

.star {
    color: gray;
}

.star:hover, .star.selected {
    color: gold;
}

h3  {
    color: var(--primary-color);
}